* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0c0b14;
  line-height: 1.8;
}

.font-siz {
  font-size: 43%;
  margin-bottom: 0;
}
.navbar {
  border-radius: 2%;
}

/* carousel */

img {
  width: 100%;
}

.Hero {
  background-position: center;
  min-height: 100vh;
  background: linear-gradient(to right,#1b1f34, rgba(27, 31, 52, 0)),
    url("../src/assets/hair3.jpg") no-repeat;
  background-size: cover;
}

section {
  padding-top: 21%;
  /* padding-bottom: 23%; */
  padding-left: 7%;
}

h1,
h2,
h3,
h4,
h5 {
  color: white;
  font-family: "Dela Gothic One", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;

  }

  /* footer */
  .foot{
    display: flex;
    background: #000;
    
  }
  .foot>div{
    width: 29%;
    margin-right: 3%;
    margin-top: 2%;
    margin-left: 1%;
    height: 60vh;
  }
  .foot h2{
    font-family: monospace;
    color: yellowgreen;
  }
  .foot p{
    font-size: small;
  }

  /* services section */
 .serv{
  margin:-10% 5%;
  align-items: center;
    /* width: 104%; */
    display: flex;
    justify-content: center;
    width: 79%;
    margin-bottom: 3%;
    padding-bottom: 3%;
}
 
.main{
  align-items: center;
    margin: 4% -5%;
    flex-direction: column;
    justify-content: center;
}
.intro{
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.cards{
  /* background: white;
  border-radius: 3%;
  padding: 2%;
  display: flex;
  margin: 0px 3% 6% 1%;
  flex-direction: column;*/
  align-items: center; 
  display: flex;
    margin: 0px 0% -3% 0%;
    flex-direction: column;
}
.cards img{
  border-radius: 3%;
  height: 45%;

}
.cards p{
  color: wheat;
}

/* contact form */
.contact-form{
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:42%;
}

.main-form{
  display: flex;
  align-items: center;
}

/* .main-form input{
  width: 12%;
} */

.inp{
  width: 39vw;
}
/* #inputEmail4{
  widht
} */

.send{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-head{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container{
  text-align: center;
}